body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input{
  display: block;
  line-height: 30px;
  border-radius: 4px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
}
input[type="submit"]{
  cursor: pointer;
}
